<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="chrome" />
    <add key="url" value="https://testmy.10web.io/checkout/?subscr_id=163"/>
    <add key="Valid test card" value="4111 1111 1111 1111" />
    <add key="Invalid test card" value="4000 0000 0000 9995" />
    <add key="Valid coupon" value="10webcoupon" />
    <add key="Invalid coupon" value="fsd9848sd" />
  </appSettings>
</configuration>